<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="APE.PostgreSQL.Teamwork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <APE.PostgreSQL.Teamwork.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>User Id=[Id];Password=[Password];host=[Host];database=[Database];Port=5432;</value>
            </setting>
            <setting name="PgDump" serializeAs="String">
                <value>C:\Program Files\PostgreSQL\9.5\bin\pg_dump.exe</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value></value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Id" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="SelectedDatabase" serializeAs="String">
                <value>-1</value>
            </setting>
        </APE.PostgreSQL.Teamwork.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
