<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!-- configuration for source code logging -->
	<appender name="APE.PostgreSQL.Teamwork.Appender" type="log4net.Appender.RollingFileAppender">
		<file value="log\APE.PostgreSQL.Teamwork.ocignore.xml" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="2MB" />

		<layout type="log4net.Layout.XMLLayout">
			<locationInfo value="true" />
		</layout>
	</appender>

	<root additivity="false" name="APE.PostgreSQL.Teamwork">
		<level value="INFO" />
		<appender-ref ref="APE.PostgreSQL.Teamwork.Appender" />
	</root>
</log4net>