<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="APE.CodeGeneration.Attributes" version="1.0.66" targetFramework="net45" />
  <package id="Dapper" version="1.42" targetFramework="net45" />
  <package id="FluentAssertions" version="4.19.2" targetFramework="net45" />
  <package id="Fody" version="1.29.4" targetFramework="net45" developmentDependency="true" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="lz4net" version="1.0.10.93" targetFramework="net45" />
  <package id="Moq" version="4.0.10827" targetFramework="net45" />
  <package id="Npgsql" version="3.1.6" targetFramework="net45" />
  <package id="NullGuard.Fody" version="1.4.6" targetFramework="net45" developmentDependency="true" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="structuremap" version="4.2.0.402" targetFramework="net45" />
  <package id="structuremap.automocking.moq" version="4.0.0.315" targetFramework="net45" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta001" targetFramework="net45" developmentDependency="true" />
</packages>