<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="APE.CodeGeneration.Attributes" version="1.0.122" targetFramework="net471" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net471" />
  <package id="FluentAssertions" version="5.4.1" targetFramework="net471" />
  <package id="Fody" version="3.1.4" targetFramework="net471" developmentDependency="true" />
  <package id="log4net" version="2.0.8" targetFramework="net471" />
  <package id="Moq" version="4.0.10827" targetFramework="net471" />
  <package id="NullGuard.Fody" version="1.8.0" targetFramework="net471" />
  <package id="ServiceStack.Text" version="5.1.0" targetFramework="net471" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net471" />
  <package id="StructureMap" version="4.7.0" targetFramework="net471" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta008" targetFramework="net471" developmentDependency="true" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net471" />
</packages>