<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!-- console appender -->
	<appender name="APE.PostgreSQL.Teamwork.ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.SimpleLayout" />
	</appender>

	<!-- log file appender -->
	<appender name="APE.PostgreSQL.Teamwork.RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="log\APE.PostgreSQL.Teamwork.xml" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="2MB" />

		<layout type="log4net.Layout.XMLLayout">
			<locationInfo value="true" />
		</layout>
	</appender>

	<root additivity="false" name="APE.PostgreSQL.Teamwork">
		<level value="INFO" />
		<appender-ref ref="APE.PostgreSQL.Teamwork.ConsoleAppender" />
		<!--Do not write to xml Log file in order to keep installation folder clean.-->
		<!--<appender-ref ref="APE.PostgreSQL.Teamwork.RollingFileAppender" />--> 
	</root>
</log4net>