<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="APE.CodeGeneration.Attributes" version="1.0.87" targetFramework="net45" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="Fody" version="2.1.2" targetFramework="net45" developmentDependency="true" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="NullGuard.Fody" version="1.5.2" targetFramework="net45" developmentDependency="true" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="StructureMap" version="4.5.1" targetFramework="net45" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta001" targetFramework="net45" developmentDependency="true" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net45" />
</packages>