<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <!-- Der Pfad zu den heruntergeladenen Nuget Paketen, der angegeben werden
       muss, wenn die Codegenerierung verwendet wird, da der Pfad zu den
       Attributen in Intern eine andere Struktur hat, als in anderen Projekten,
	   wodurch die gesamten Projektmappen Ordner ausgecheckt werden müssen.
	   Dadurch sind die Pfade, die zu den Nuget Paketen im Solution Projekt führen 
	   falsch (Bsp.: Solution: Common2 	=> Pfad: ../packages/....
	                 Solution: BDE		=> Pfad: ../../packages/....)
	   
       Ansprechpartner: db, sh -->
  <config>
    <add key="repositorypath" value="C:\NugetPackages" />
  </config>
  <packageSources>
    <add key="NuGet official package source" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
</configuration>